@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-position: center;
  background-size: cover;
  background-color:#071A40
  ;
  height: 100vh ;
  background-repeat: no-repeat;
}

header {
  width:100%;
}


h1 {
  font-family: 'Racing Sans One', cursive;
  letter-spacing: 2px;
  font-size: 300%;
  color: #D1CDC2;
}
h5 {
  font-family: 'Racing Sans One', cursive;
  letter-spacing: 2px;
  font-size: 150%;
  color: #D1CDC2;
}

p {
  font-family: 'Racing Sans One', cursive;
  color: #D1CDC2;
}

li {
  color: silver;
  font-family: 'Racing Sans One', cursive;
  font-weight: 300;
}

th {
  color: #D1CDC2;
  font-family: 'Racing Sans One', cursive;
  font-weight: 300;
}

td {
  color: #D1CDC2;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

label {
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#mainpage {
  background: #073359;
  border-radius: 10px;
  margin: 0 auto;
  width: 70%;
}

#NavBar {
  background-color: #04588C;
}

#navbarSalesDropdown {
  font-family: 'Racing Sans One', cursive;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

#navbarInventoryDropdown {
  font-family: 'Racing Sans One', cursive;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}
#navbarServiceDropdown {
  font-family: 'Racing Sans One', cursive;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

#name {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.1);
}

#createBtn {
  background: rgba(0, 0, 0, 0.3);
  color: #D1CDC2;
  border-color: rgba(0, 0, 0, 0.1);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  float: right;
}

#createBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}
#searchBtn {
  background: rgba(0, 0, 0, 0.3);
  color: #D1CDC2;
  border-color: rgba(0, 0, 0, 0.1);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  display: justify;
}

#searchBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}
#color {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#year {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#vin {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#model {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#autoCreateBtn {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;

}

#autoCreateBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}

#picture_url {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#manufacturer_id {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#vehicleModelBtn {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#vehicleModelBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}

#liData {
  color: silver;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#vehicleModelContainer {
  overflow-y: auto;
  max-height: 700px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#id {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#salesPersBtn {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#salesPersBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}

#first_name {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#last_name {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#email {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#phone_number {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#address {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#phone {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}
#employee_id {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);

}

#technician {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0,0.2);
}

#salesperson {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0);
}
#model_id {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0,0.2);
}

#customerBtn {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;

}

#customerBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}

#automobile {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#sales_person {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#customer {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#price {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#newSaleBtn {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;

}

#newSaleBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}

#price::placeholder {
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#tech {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#owner {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#reason {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#date {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#time {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#vip {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

#appBtn {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#appBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}


#appointData {
  color: silver;
}

#finished {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  margin: 10px;
}

#cancel {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

#techBtn {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: #D1CDC2;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;

}

#techBtn:hover {
  background: rgba(0, 0, 0, 0.7);
  color: silver;
}

.shadow {
  background: #04588C;
}

.dropdown-menu {
  background:#04588C;
}

.card-body {
  background: rgba(0, 0, 0, 0.7);
}

.card-title {
  color: silver;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.card-subtitle {
  color: rgb(166, 166, 166);
  font-family: 'Racing Sans One', cursive;
  font-weight: 100;
}
.form-control {
  color: #D1CDC2 ;
  letter-spacing: 2px;
}

.form-select {
  color: #D1CDC2;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.table {
  background: #04588C;
  color: #D1CDC2;
  font-family: 'Racing Sans One', cursive;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: #D1CDC2;
}

.dropdown-item {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.4);
}

.input-group-text {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: #D1CDC2;
}
